<div class="card">
    <div class="class-body">
        <h1>About</h1>
        <p>Este sitio se ha desarrollado por los asistendes de desarrollo de software para el curso
            de Scripts y Base de datos
        </p>
        <div class="footer-copyright text-center navbar-light">
            (c) 2024  Copyright EVTA
        </div>
    </div>
</div>