<div class="display-4">
    <h1>Aplicaciones de notas con Node.js y MongoDB</h1>
    <p class="lead">Bievenidos a nuestra aplicacion de notas</p><hr 
    class="my-4">
    <p>Este es un sitio web para el registro de notas de usuarios donde cada usuario tendra un almacen
        de nnotas de manera independiente.
    </p>
</div>